{% extends 'Base.html' %}
{% block title %} BlogPosts by iCoder {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}
{% block body %}
<div class="container my-3">
  <h2>Coding Articles by iCoder</h2>
  {% for Post in AllPosts %}
  <div
    class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative"
  >
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary"
        >Article by {{Post.author}} (<span>{{Post.views}} views</span>)</strong  
      >
      <h3 class="mb-0">{{Post.title}}</h3>
      <div class="mb-1 text-muted">Posted at {{Post.timeStamp}}</div>
      <p class="card-text mb-auto">
      <div class="preview">{{Post.content|safe| truncatechars:200}}</div>
      </p>
      
      <div class="my-2">
        <a href="/Blog/{{Post.slug}}" role="button" class="btn btn-primary"
          >Continue reading</a
        >
      </div>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}

{% block js %}
let previews=document.getElementsByClassName('preview');
Array.from(previews).forEach((element)=>{
element.innerHTML=element.innerText;
})
{% endblock js %}
